{% extends 'base.html' %}

{% block content %}
    
<p>
<a href="{{type1_link}}" style="border-color:#f1f3f2; background-color:#f1f3f2; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; black-space:nowrap">{{type1L}}</a>
<a href="{{type2_link}}" style="border-color:#f1f3f2; background-color:#f1f3f2; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; black-space:nowrap">{{type2L}}</a>
<a href="{{type3_link}}" style="border-color:#f1f3f2; background-color:#f1f3f2; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; black-space:nowrap">{{type3L}}</a>
</p>
<br>
 
<p>
<b style="line-height:2em"><a href="/term/hasPortraitProduction" style="color:black">Portrait Production:</a></b>
<a href="{{portraitProduction_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitProductionL}}</a>
</p>

<p>
<b style="line-height:2em"><a href="/term/hasPortraitSittingAccount" style="color:black">Portrait-Sitting Account(s):</a></b>
<a href="{{portraitSittingAccount_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccountL}}</a>
{% if portraitSittingAccount1L == portraitSittingAccount1L%}   
<a href="{{portraitSittingAccount1_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount1L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount2L == portraitSittingAccount2L%}   
<a href="{{portraitSittingAccount2_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount2L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount3L == portraitSittingAccount3L%}   
<a href="{{portraitSittingAccount3_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount3L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount4L == portraitSittingAccount4L%}   
<a href="{{portraitSittingAccount4_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount4L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount5L == portraitSittingAccount5L%}   
<a href="{{portraitSittingAccount5_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount5L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount6L == portraitSittingAccount6L%}   
<a href="{{portraitSittingAccount6_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount6L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount7L == portraitSittingAccount7L%}   
<a href="{{portraitSittingAccount7_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount7L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount8L == portraitSittingAccount8L%}   
<a href="{{portraitSittingAccount8_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount8L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount9L == portraitSittingAccount9L%}   
<a href="{{portraitSittingAccount9_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount9L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount10L == portraitSittingAccount10L%}   
<a href="{{portraitSittingAccount10_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount10L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount11L == portraitSittingAccount11L%}   
<a href="{{portraitSittingAccount11_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount11L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount12L == portraitSittingAccount12L%}   
<a href="{{portraitSittingAccount12_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount12L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount13L == portraitSittingAccount13L%}   
<a href="{{portraitSittingAccount13_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount13L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount14L == portraitSittingAccount14L%}   
<a href="{{portraitSittingAccount14_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount14L}}</a>
{% else %}
{%endif %}
{% if portraitSittingAccount15L == portraitSittingAccount15L%}   
<a href="{{portraitSittingAccount15_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitSittingAccount15L}}</a>
{% else %}
{%endif %}
</p>

<p>
<b style="line-height:2em"><a href="/term/hasPortraitObject" style="color:black">Portrait Object:</a></b>
<a href="{{portraitObject_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{portraitObjectL}}</a>
</p>

<p>
{% if relatedObjectL == relatedObjectL%}   
<b style="line-height:2em"><a href="/term/hasRelatedObject" style="color:black">Related Object(s):</a></b>
<a href="{{relatedObject_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObjectL}}</a>
{% else %}
{%endif %}
{% if relatedObject1L == relatedObject1L%}     
<a href="{{relatedObject1_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject1L}}</a>
{% else %}
{%endif %}
{% if relatedObject2L == relatedObject2L%}     
<a href="{{relatedObject2_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject2L}}</a>
{% else %}
{%endif %}
{% if relatedObject3L == relatedObject3L%}     
<a href="{{relatedObject3_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject3L}}</a>
{% else %}
{%endif %}
{% if relatedObject4L == relatedObject4L%}     
<a href="{{relatedObject4_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject4L}}</a>
{% else %}
{%endif %}
{% if relatedObject5L == relatedObject5L%}     
<a href="{{relatedObject5_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject5L}}</a>
{% else %}
{%endif %}
{% if relatedObject6L == relatedObject6L%}     
<a href="{{relatedObject6_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject6L}}</a>
{% else %}
{%endif %}
{% if relatedObject7L == relatedObject7L%}     
<a href="{{relatedObject7_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject7L}}</a>
{% else %}
{%endif %}
{% if relatedObject8L == relatedObject8L%}     
<a href="{{relatedObject8_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject8L}}</a>
{% else %}
{%endif %}
{% if relatedObject9L == relatedObject9L%}     
<a href="{{relatedObject9_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject9L}}</a>
{% else %}
{%endif %}
{% if relatedObject10L == relatedObject10L%}     
<a href="{{relatedObject10_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject10L}}</a>
{% else %}
{%endif %}
{% if relatedObject11L == relatedObject11L%}     
<a href="{{relatedObject11_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject11L}}</a>
{% else %}
{%endif %}
{% if relatedObject12L == relatedObject12L%}     
<a href="{{relatedObject12_link}}" style="border-color:purple; color:black; border-style:solid; border-width:2px; text-decoration:none; padding:0.2em; line-height:2em; white-space:nowrap">{{relatedObject12L}}</a>
{% else %}
{%endif %}

</p>
{% endblock %}